@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denegado";
}

<div class="container">
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tiene los permisos necesarios para acceder a esta parte.</p>
</header>

</div>
