
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<!-- BTN para agregar deposito que redirecciona a otra vista con asp-action="Upsert"-->
<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Lista de Depositos</h2>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-outline-primary" asp-action="Upsert"> <i class="bi bi-plus-square-fill"></i> Crear Nuevo Deposito</a>
    </div>
</div>
<br />

<!-- Aca esta el datatable con que va a desplegar la informacion-->
<div class="p-4 border rounded bg-light">
    <div class="table-responsive">
        <!-- Añadido para la responsividad -->
        <table id="tblDatos" class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

</div>

@section Scripts {
    <script src="~/js/bodega.js"></script>
    

}
